.Button {
  height: 2.5rem;
  color: var(--geist-background);
  background-color: var(--geist-foreground);
  border: 1px solid var(--geist-foreground);
  padding: 0 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 5px;
  transition: all .3s ease 0s;
}

.Button--secondary {
  color: var(--accents-5);
  background-color: var(--geist-background);
  border: 1px solid var(--accents-2);
}

.Button:hover {
  background-color: var(--geist-background);
  color: var(--geist-foreground);
}

.Button--secondary:hover {
  color: var(--geist-foreground);
  border: 1px solid var(--geist-foreground);
}